.blinker {
  opacity: 0;
  display: block;
  color: green;
  font-size: 1.5em;
  font-weight: bold;
  transform: translate(-25%, -15%);
  animation: blink 600ms linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
